.compare {
  position: absolute;
  top: 96px;
  left: 142px;
  font-size: var(--font-size-9xl);
  text-align: left;
}
.bg,
.buttonNormalChild {
  position: absolute;
  border-radius: var(--br-5xs);
}
.bg {
  top: 147px;
  left: 496px;
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(10, 26, 39, 0.14);
  width: 335px;
  height: 777px;
}
.buttonNormalChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-goldenrod);
}
.subscribe {
  position: absolute;
  top: calc(50% - 8.03px);
  left: calc(50% - 44px);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.buttonNormal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.component21222 {
  position: absolute;
  top: 855px;
  left: 677px;
  width: 140px;
  height: 48px;
}
.privateEquity {
  position: absolute;
  top: 267px;
  left: 505px;
  letter-spacing: 1.4px;
  line-height: 13px;
  text-transform: uppercase;
  color: var(--color-dimgray);
  text-align: left;
}
.consumerGoodsRetailEnhancem,
.loremIpsumDolor {
  position: absolute;
  left: 503px;
  text-align: left;
  display: inline-block;
  width: 325px;
}
.consumerGoodsRetailEnhancem {
  top: 293px;
  font-size: var(--font-size-lg);
  line-height: 24px;
}
.loremIpsumDolor {
  top: 347px;
  line-height: 18px;
}
.b,
.b1,
.liquidity,
.minimum,
.quarterly,
.targetReturn {
  position: absolute;
  top: 427px;
  left: 506px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 86px;
}
.b,
.b1,
.liquidity,
.minimum,
.quarterly {
  top: 445px;
  font-size: var(--font-size-xs);
}
.b1,
.liquidity,
.minimum,
.quarterly {
  top: 427px;
  left: 641px;
  font-size: var(--font-size-3xs);
  width: 48px;
}
.b1,
.liquidity,
.quarterly {
  top: 445px;
  left: 619px;
  font-size: var(--font-size-xs);
  width: 92px;
}
.liquidity,
.quarterly {
  top: 427px;
  left: 758px;
  font-size: var(--font-size-3xs);
  width: 50px;
}
.quarterly {
  top: 445px;
  left: 743px;
  font-size: var(--font-size-xs);
  width: 80px;
}
.addToCompare,
.favoriteButtonIcon {
  position: absolute;
  top: 267px;
  left: 804.87px;
  width: 18px;
  height: 15.33px;
}
.addToCompare {
  top: 265.67px;
  left: 782.58px;
  width: 16px;
  height: 16px;
}
.buttonNormalItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.viewDetail {
  position: absolute;
  top: calc(50% - 7.03px);
  left: calc(50% - 51px);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.bg1,
.component21223 {
  position: absolute;
  top: 855px;
  left: 505px;
  width: 140px;
  height: 48px;
}
.bg1 {
  top: 147px;
  left: 850px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(10, 26, 39, 0.14);
  width: 335px;
  height: 777px;
}
.component21224 {
  position: absolute;
  top: 855px;
  left: 1030px;
  width: 140px;
  height: 48px;
}
.privateEquity1 {
  position: absolute;
  top: 267px;
  left: 858px;
  letter-spacing: 1.4px;
  line-height: 13px;
  text-transform: uppercase;
  color: var(--color-dimgray);
  text-align: left;
}
.consumerGoodsRetailEnhancem1,
.loremIpsumDolor1 {
  position: absolute;
  left: 854px;
  text-align: left;
  display: inline-block;
  width: 325px;
}
.consumerGoodsRetailEnhancem1 {
  top: 293px;
  font-size: var(--font-size-lg);
  line-height: 24px;
}
.loremIpsumDolor1 {
  top: 347px;
  line-height: 18px;
}
.b2,
.b3,
.liquidity1,
.minimum1,
.quarterly1,
.targetReturn1 {
  position: absolute;
  top: 427px;
  left: 859px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 86px;
}
.b2,
.b3,
.liquidity1,
.minimum1,
.quarterly1 {
  top: 445px;
  font-size: var(--font-size-xs);
}
.b3,
.liquidity1,
.minimum1,
.quarterly1 {
  top: 427px;
  left: 994px;
  font-size: var(--font-size-3xs);
  width: 48px;
}
.b3,
.liquidity1,
.quarterly1 {
  top: 445px;
  left: 972px;
  font-size: var(--font-size-xs);
  width: 92px;
}
.liquidity1,
.quarterly1 {
  top: 427px;
  left: 1111px;
  font-size: var(--font-size-3xs);
  width: 50px;
}
.quarterly1 {
  top: 445px;
  left: 1102px;
  font-size: var(--font-size-xs);
  width: 68px;
}
.favoriteButtonIcon1 {
  position: absolute;
  top: 267px;
  left: 1158.59px;
  width: 18px;
  height: 15.33px;
}
.addToCompare1,
.component21225 {
  position: absolute;
  top: 265.67px;
  left: 1136.3px;
  width: 16px;
  height: 16px;
}
.component21225 {
  top: 855px;
  left: 858px;
  width: 140px;
  height: 48px;
}
.image,
.maskGroup23 {
  position: absolute;
  top: 158px;
  left: 503px;
  width: 324px;
  height: 99px;
}
.maskGroup23 {
  object-fit: cover;
}
.image {
  background-color: var(--color-deepskyblue);
  mix-blend-mode: multiply;
}
.labelcontent {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 12.5px);
}
.label {
  position: absolute;
  top: 171px;
  left: 755px;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  width: 61px;
  height: 24px;
  text-align: right;
  font-size: var(--font-size-smi);
  color: var(--color-royalblue);
}
.image1,
.maskGroup24 {
  top: 158px;
  left: 854px;
  width: 324px;
  height: 99px;
}
.maskGroup24 {
  position: absolute;
  object-fit: cover;
}
.image1 {
  background-color: var(--color-royalblue);
  opacity: 0.69;
  mix-blend-mode: multiply;
}
.bg2,
.image1,
.label1 {
  position: absolute;
}
.label1 {
  top: 171px;
  left: 1108px;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  width: 61px;
  height: 24px;
  text-align: right;
  font-size: var(--font-size-smi);
  color: var(--color-royalblue);
}
.bg2 {
  top: 147px;
  left: 142px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(10, 26, 39, 0.14);
  width: 335px;
  height: 777px;
}
.subscribe2 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 44px);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.component21226,
.component21227 {
  position: absolute;
  top: 855px;
  left: 323px;
  width: 140px;
  height: 48px;
}
.component21227 {
  left: 153px;
}
.privateEquity2 {
  position: absolute;
  top: 267px;
  left: 153px;
  letter-spacing: 1.4px;
  line-height: 13px;
  text-transform: uppercase;
  color: var(--color-dimgray);
  text-align: left;
}
.consumerGoodsRetailEnhancem2,
.loremIpsumDolor2 {
  position: absolute;
  left: 153px;
  text-align: left;
  display: inline-block;
  width: 325px;
}
.consumerGoodsRetailEnhancem2 {
  top: 293px;
  font-size: var(--font-size-lg);
  line-height: 24px;
}
.loremIpsumDolor2 {
  top: 347px;
  line-height: 18px;
}
.b4,
.b5,
.liquidity2,
.minimum2,
.quarterly2,
.targetReturn2 {
  position: absolute;
  top: 427px;
  left: 153px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 86px;
}
.b4,
.b5,
.liquidity2,
.minimum2,
.quarterly2 {
  top: 445px;
  font-size: var(--font-size-xs);
}
.b5,
.liquidity2,
.minimum2,
.quarterly2 {
  top: 427px;
  left: 292px;
  font-size: var(--font-size-3xs);
  width: 48px;
}
.b5,
.liquidity2,
.quarterly2 {
  top: 445px;
  left: 270px;
  font-size: var(--font-size-xs);
  width: 92px;
}
.liquidity2,
.quarterly2 {
  top: 427px;
  left: 404px;
  font-size: var(--font-size-3xs);
  width: 50px;
}
.quarterly2 {
  top: 445px;
  left: 396px;
  font-size: var(--font-size-xs);
  width: 68px;
}
.addToCompare2,
.favoriteButtonIcon2 {
  position: absolute;
  top: 267px;
  left: 451.14px;
  width: 18px;
  height: 15.33px;
}
.addToCompare2 {
  top: 265.67px;
  left: 428.85px;
  width: 16px;
  height: 16px;
}
.image2,
.maskGroup36 {
  position: absolute;
  top: 158px;
  left: 153px;
  width: 324px;
  height: 99px;
}
.maskGroup36 {
  object-fit: cover;
}
.image2 {
  background-color: var(--color-gray-200);
  opacity: 0.58;
  mix-blend-mode: multiply;
}
.labelcontent2 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 36px);
}
.label2 {
  position: absolute;
  top: 171px;
  left: 339px;
  border-radius: var(--br-sm);
  background-color: var(--color-royalblue);
  width: 132px;
  height: 24px;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.maskGroup37,
.maskGroup38,
.maskGroup39 {
  position: absolute;
  top: 195px;
  left: 153px;
  width: 93px;
  height: 38px;
  object-fit: cover;
}
.maskGroup38,
.maskGroup39 {
  left: 505px;
  width: 131px;
}
.maskGroup39 {
  left: 858px;
}
.bg3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  border: 1px dashed var(--color-gray-200);
  box-sizing: border-box;
}
.iconMaterialAddCircleOutli {
  position: absolute;
  top: calc(50% - 41px);
  left: calc(50% - 37px);
  width: 74px;
  height: 74px;
}
.bg4 {
  position: absolute;
  height: 88.24%;
  width: 88.55%;
  top: 5.88%;
  right: 5.72%;
  bottom: 5.88%;
  left: 5.72%;
  border-radius: var(--br-5xs);
  border: 1px dashed var(--color-gray-200);
  box-sizing: border-box;
}
.addToCompare3 {
  position: absolute;
  top: 147px;
  right: 62px;
  width: 332px;
  height: 408px;
}
.equity {
  position: absolute;
  top: 31.73px;
  left: 23.3px;
}
.fundMetrics,
.portfolioByAsset {
  position: absolute;
  left: 23.3px;
  font-size: var(--font-size-xs);
  font-family: var(--font-cresta-regular);
}
.fundMetrics {
  top: calc(50% - 26.51px);
}
.portfolioByAsset {
  top: 0;
}
.g {
  letter-spacing: -0.14px;
}
.div,
.vintage {
  position: absolute;
}
.vintage {
  top: calc(50% + 1.11px);
  left: 23.3px;
}
.div {
  top: calc(50% + 2.11px);
  right: 19.32px;
  font-family: var(--font-cresta-bold);
  color: var(--color-gray-100);
  text-align: right;
}
.f {
  letter-spacing: -0.21px;
}
.z {
  letter-spacing: -0.13px;
}
.fundSize,
.m {
  position: absolute;
  top: calc(50% + 46.46px);
}
.fundSize {
  left: 23.3px;
}
.m {
  right: 19.32px;
  font-family: var(--font-cresta-bold);
  color: var(--color-gray-100);
  text-align: right;
}
.c {
  letter-spacing: 0.07px;
}
.capitalCalled {
  position: absolute;
  top: calc(50% + 92.8px);
  left: 23.3px;
}
.o {
  letter-spacing: -0.28px;
}
.y {
  letter-spacing: -0.27px;
}
.andFullyDeployedContainer {
  position: absolute;
  top: calc(50% + 92.8px);
  right: 19.32px;
  font-family: var(--font-cresta-bold);
  color: var(--color-gray-100);
  text-align: right;
}
.numberOfInvestmentsContainer {
  position: absolute;
  bottom: 14.53px;
  left: 23.3px;
}
.div1,
.div2 {
  right: 19.32px;
  font-family: var(--font-cresta-bold);
  color: var(--color-gray-100);
  text-align: right;
}
.div1 {
  position: absolute;
  bottom: 14.53px;
}
.div2 {
  top: 31.71px;
}
.credit,
.div2,
.div3 {
  position: absolute;
}
.credit {
  top: calc(50% - 90.46px);
  left: 23.3px;
}
.div3 {
  top: calc(50% - 89.46px);
  right: 19.32px;
  font-family: var(--font-cresta-bold);
  color: var(--color-gray-100);
  text-align: right;
}
.groupChild,
.groupItem {
  position: absolute;
  width: calc(100% + 1px);
  right: 0;
  left: -1px;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 2px;
}
.groupChild {
  top: 62.24px;
}
.groupItem {
  top: calc(50% - 59.92px);
}
.groupInner {
  top: calc(50% + 32.84px);
}
.groupChild1,
.groupChild2,
.groupInner,
.lineDiv {
  position: absolute;
  width: calc(100% + 1px);
  right: 0;
  left: -1px;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 2px;
}
.lineDiv {
  top: calc(50% + 76.98px);
}
.groupChild1,
.groupChild2 {
  bottom: 45.56px;
}
.groupChild2 {
  bottom: -1px;
}
.equityContainer,
.equityGroup,
.equityParent {
  position: absolute;
  top: 480px;
  left: 142px;
  width: 335px;
  height: 337.35px;
  text-align: left;
  color: var(--color-gray-500);
}
.equityContainer,
.equityGroup {
  left: 496px;
}
.equityContainer {
  left: 850px;
}
.component2098 {
  position: absolute;
  top: 850px;
  right: 36px;
  width: 74px;
  height: 74px;
}
.navbarbgIcon {
  position: absolute;
  height: calc(100% + 18px);
  width: calc(100% + 18px);
  top: 0;
  right: -18px;
  bottom: -18px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.userMenuIcon {
  position: absolute;
  top: calc(50% - 17px);
  right: 22px;
  width: 62px;
  height: 36px;
}
.groupIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 109.79px;
}
.t {
  letter-spacing: -0.06px;
}
.alternativeInvestmentPlatforContainer {
  position: absolute;
  top: calc(50% - 9px);
  right: -1px;
  line-height: 12px;
}
.groupParent {
  position: absolute;
  top: calc(50% - 19.7px);
  left: 22px;
  width: 261.22px;
  height: 39.4px;
}
.search {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 64px);
}
.iconactionsearch24px {
  position: absolute;
  top: calc(50% - 12px);
  left: 8px;
  width: 24px;
  height: 24px;
}
.searchParent {
  position: absolute;
  top: calc(50% - 17px);
  right: 102px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 220px;
  height: 36px;
  font-family: var(--font-cresta);
}
.navbarbgParent {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1520px;
  height: 70px;
  text-align: left;
  font-family: var(--font-cresta-medium);
}
.path428Icon {
  position: absolute;
  height: 100%;
  width: calc(100% - 0.5px);
  top: 0;
  right: 0.5px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.leftNavButtonChild,
.leftNavButtonInner {
  position: absolute;
  height: calc(100% - 12px);
  top: 6px;
  bottom: 6px;
}
.leftNavButtonChild {
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro);
  width: 48px;
}
.leftNavButtonInner {
  left: 0;
  background-color: var(--color-deepskyblue);
  width: 6px;
}
.storefrontFill1Wght400Grad0Icon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 28.83px;
  bottom: 20px;
  max-height: 100%;
  width: 22.33px;
}
.leftNavButton {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 143px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.notificationsFill0Wght400GrIcon {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  right: 32px;
  bottom: 20px;
  max-height: 100%;
  width: 16px;
  opacity: 0.5;
}
.ellipseIcon {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 2px);
  width: 14px;
  height: 14px;
}
.div12 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% + 2px);
  letter-spacing: 0.8px;
  font-weight: 500;
}
.leftNavButton1 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 203px;
  right: 0.5px;
  left: 0;
  height: 60px;
}
.iconAwesomeTasks {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.7px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton2 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 217px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.manageAccountsFill0Wght400Icon {
  position: absolute;
  right: 28.1px;
  bottom: 20px;
  width: 23.8px;
  height: 20px;
}
.leftNavButton3 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 97px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.homeStorageFill0Wght400GraIcon {
  position: absolute;
  right: 30.16px;
  bottom: 20px;
  width: 19.69px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton4 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: calc(50% - 157px);
  right: 0.5px;
  left: 0;
  height: 60px;
}
.settingsFill0Wght400Grad0OIcon {
  position: absolute;
  top: calc(50% - 10px);
  right: 30.22px;
  width: 19.56px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton5 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 92px;
  left: 0;
  height: 60px;
}
.logoutFill0Wght400Grad0OpsIcon {
  position: absolute;
  top: 20px;
  right: 30.17px;
  width: 19.67px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton6 {
  position: absolute;
  width: calc(100% - 0.5px);
  right: 0.5px;
  bottom: 32px;
  left: 0;
  height: 60px;
}
.homeFill0Wght300Grad0Opsz4Icon {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 9.05px);
  width: 18.1px;
  height: 20px;
  opacity: 0.5;
}
.leftNavButton7 {
  position: absolute;
  width: calc(100% - 0.5px);
  top: 83px;
  right: 0.5px;
  left: 0;
  height: 60px;
  cursor: pointer;
}
.leftNavClosedChild {
  position: absolute;
  top: 798.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 81px;
  height: 2px;
}
.closedMenuIconChild {
  top: 0;
  width: 22px;
}
.closedMenuIconChild,
.closedMenuIconInner,
.closedMenuIconItem {
  position: absolute;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  height: 2.5px;
}
.closedMenuIconItem {
  bottom: 0;
  width: 22px;
}
.closedMenuIconInner {
  top: calc(50% - 1.25px);
  width: 17px;
}
.chevronRightFill0Wght400GrIcon {
  position: absolute;
  height: 73.95%;
  width: 28.07%;
  top: 13.55%;
  right: 0;
  bottom: 12.5%;
  left: 71.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closedMenuIcon {
  position: absolute;
  top: 25px;
  left: 22.29px;
  width: 29.81px;
  height: 20px;
  opacity: 0.5;
}
.navDrawerLeft {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 80.5px;
  height: 960px;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-azo-sans);
}
.compareLookFeel2Child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(10, 26, 39, 0.7);
  width: 1600px;
  height: 1221px;
}
.bg5,
.remove {
  position: absolute;
}
.bg5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(10, 26, 39, 0.14);
}
.remove {
  top: calc(50% - 8.03px);
  left: calc(50% - 33px);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.component21228 {
  position: absolute;
  top: calc(50% + 27.5px);
  left: calc(50% + 19px);
  width: 140px;
  height: 48px;
  cursor: pointer;
}
.cancel {
  position: absolute;
  top: calc(50% - 7.03px);
  left: calc(50% - 31px);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 500;
}
.component21229 {
  position: absolute;
  top: calc(50% + 27.5px);
  left: calc(50% - 159px);
  width: 140px;
  height: 48px;
  cursor: pointer;
}
.areYouSure {
  margin: 0;
}
.areYouSureContainer {
  position: absolute;
  top: calc(50% - 61.5px);
  left: 84px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.36px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}
.iconMaterialClose {
  position: absolute;
  top: 13px;
  right: 15px;
  width: 21px;
  height: 21px;
}
.bgParent {
  position: absolute;
  top: 195px;
  left: 456px;
  width: 648px;
  height: 297px;
}
.compareLookFeel2 {
  position: relative;
  background: linear-gradient(180deg, #eaf0f7, #eaf0f7);
  width: 100%;
  height: 1221px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-cresta);
}
